<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Пользователь:{{ user.username }}</h1>
    <h1>Дата регистрации:{{ date_reg }}</h1>
    <h1>Текущая сессия на сайте:{{ time_online_hour }}</h1>
    <hr>
    <h2>Количество пройденных голосований: {{ count_of_votes }}</h2>
    {% for item in data %}
        <h1>Тема голосования:{{ item.vote.theme }}</h1>
        <h5>Ваши ответы</h5>
            {% for i in item.results %}
                {% if i == ';' %}
                <br>
                <br>
                {% else %}
                {{ i }}
                {% endif %}
            {% endfor %}
    {% endfor %}
</body>
</html>
