{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>description_vote</title>
{% endblock %}
{% block content %}
    {% for item in data %}
    {% if item.id == id %}
    <h1>Тема голосования: {{ item.theme }}</h1>
    <hr>
    <h3>Описание: {{ item.description }}</h3>
    <hr>
    <form action="{% url 'description' %}" method="POST">
        {% csrf_token %}
        {% for radio in form %}
        {{ radio }}
        {% endfor %}
        <input type="submit" value='Отправить'>
    </form>
    {% endif %}
    {% endfor %}
{% endblock %}
