<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>description_vote</title>
</head>
<body>
    <hr>
    <hr>
    {% for item in data %} <!-- TODO: Refactor-щик переименуй item в другое подходящее название, например vote -->
        <h1>Тема голосования:{{ item.theme }}</h1>
        <hr>
        <h3>Описание:{{ item.description }}</h3>
        <hr>
        <form action="/description/" method="post">
            {% csrf_token %}
            <h5>Варианты ответов</h5>
            {% for i in item.answers %}
                {% if i == ';' %}
                <br>
                <br>
                {% else %}
                {{ i }}
                {% endif %}
            {% endfor %}
        </form>
        <hr>
        <form action="/edit/" method="get">
            <input type="hidden" name="old_theme" value="{{ item.theme }}">
            <input type="submit" value="Изменить">
        </form>
        <form action="/vote/report/create" method="get">
            <input type="hidden" name="id" value="{{ item.id }}">
            <input type="submit" value="Пожаловаться">
        </form>
        {% if is_moderator %}
        <form action="/vote/delete" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ item.id }}">
            <input type="submit" value="Удалить">
        </form>
        {% endif %}
        <hr>
    {% endfor %}
</body>
</html>
