<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>description_vote</title>
    {%for item in data %}
    {% if item.id == id%}
    <h1>Тема голосования:{{ item.theme }}</h1>
    <hr>
    <h3>Описание:{{ item.description }}</h3>
    <hr>
    <form action="/description/", method="POST">
        {% csrf_token %}
        <input type="submit" value='{{item.answer1}}'>
        <input type="submit" value='{{item.answer2}}'>
    </form>
    {%endif%}
    {%endfor%}
    <h1>История</h1>
    <table>
      <tr>
          <td>ID</td>
          <td>Тема</td>
          <td>Описание</td>
          <td>Первое</td>
          <td>Второе</td>
          <td>Один</td>
          <td>Два</td>
      </tr>
      {% for item in data %}
      <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.theme }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.answer1 }}</td>
          <td>{{ item.answer2 }}</td>
          <!--<td>{{ item.first }}</td>
          <td>{{ item.second }}</td>-->
      </tr>
      {% endfor %}
</body>
</html>
