{% extends "../base.html" %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Вход</title>
  </head>
  <body>
    {% block content %}
    <h3>Авторизация</h3>

    {% if form.errors %}
    <p>Имя пользователя или пароль введены неверно. Попробуйте снова.</p>
    {% endif %} {% if next %} {% if user.is_authenticated %}
    <p>
      У вашего вас нет доступа к этой страницу. Чтобы продолжить, пожалуйста,
      войдите в аккаунт, который имеет к ней доступ.
    </p>
    {% else %}
    <p>Пожалуйста, войдите в аккаунт, чтобы увидель эту страницу.</p>
    {% endif %} {% endif %}

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <table>
        <tr>
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </tr>

        <tr>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </tr>
      </table>

      <input type="submit" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <p><a href="/auth/register">Нет аккаунта?</a></p>
  </body>
</html>

{% endblock %}
