{% extends "../base.html" %} {% load static %}
<!--  -->
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Пароль изменён</title>
    <link rel="stylesheet" href="{% static 'msgpage/style.css' %}" />
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <p>
      Пароль изменён!
      <br />
      <br />
      <a href="{% url 'login' %}">Тыкните сюда чтобы войти</a>
    </p>
    {% endblock %}
  </body>
</html>
