{% extends "../base.html" %}

{% block content %}

<h3>Регистрация</h3>

<form method="post" action="/auth/register">
{% csrf_token %}
<table>

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>

<tr>
  <td>{{ form.email.label_tag }}</td>
  <td>{{ form.email }}</td>
</tr>
</table>

<input type="submit" value="Register" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="/auth/login">Already have account?</a></p>

<p>Errors: </p>
<p>{{ form.errors }}</p>

{% endblock %}
